<form action="/users/new" method = "POST">
    <label for="firstname">firstname:</label>:<input name="firstname" id="firstname" required><br>
    lastname: <input name="lastname" required><br>
    Email: <input name="email" required><br>
    Password: <input name="password" required><br>
    <button>Submit</button>
</form>